a{
  text-decoration: none;
}

body{
  background-color: black;
  margin: 7% 12%;
  color: white;

}

h2{
  font-weight: 10rem;
  font-size: 6rem;
  font-family: 'Sansita Swashed', cursive;
  color: white;
}

hr{
  width:30%;
  margin: 0 auto;

}


/* for phone size and above */
@media (max-width: 1000px) {
  .contactName{
    font-size: 3rem;
    font-family: 'Sansita Swashed', cursive;
  }

  h2 {
    font-size: 9rem;
  }

  a.bigHeading{
    font-size: 7.2rem;
    
  }

  .contactIcons{
    padding: 3.5rem 3rem 2.5rem 0;
    color: red;

  }

  a.smallWorkHeading{
    font-size: 1.6rem;
  }

  h2.smallHeading, h3.smallHeading, h4.smallHeading {
    font-size: 5.5rem;
    
  }

  a.myResume{
    font-size: 4rem; 
  }

  a.otherLogo{
    position: fixed;
    right: 4rem;
    top: 6rem;
    font-size: 4rem;   
  
  }


  p.caption{
    font-size: 10rem;
  }

  p.bodyText1{
    font-size: 3rem;

  }

  p.textBody2, a.smallWorkHeading, p.lead, p.text-muted{
    font-size: 2.5rem ;
  } 

}

/* MULTI-ADOPTED SECTION */

.bigHeading{
  color: white;
  font-size: 5.5rem;
  margin: 0;
  font-family: 'Sansita Swashed', cursive;
}

.smallHeading{
  font-family: 'Sansita Swashed', cursive;
  font-size: 3rem;
  margin: 7rem auto 3rem auto;

}

.textBody2{
  line-height: 1.3;
  font-size: 1.2rem;
  color: grey;

}

/* LANDING PAGE SECTION */

.backEnd2{
  color: red;
}

.bImages{
  width:130%;
  padding: 1rem 0 2rem 0;
}

.caption{
  color: red;
  font-size: 7rem;
  font-family: 'Sansita Swashed', cursive;
  font-weight: bold;
  line-height: 1.1;

}


.hello{
  color: white;
  font-size: 7rem;

}


/* ABOUT SECTION */

#about-section{
  padding: 11rem 0 3rem  0 ;
}

.bodyText1{
  line-height: 1.6;
  font-size: 1.4rem;
  padding-bottom: 1.1rem;
   color: rgb(189, 189, 189);
  
}

.about-heading{
  font-size: 3rem;
  padding: 7rem 2rem 1.7rem 0;
  font-family: 'Sansita Swashed', cursive;
}

.myResume{
  color: red;
  font-size: 2rem; 
  font-family: 'Sansita Swashed', cursive;
}

.otherLogo{
  position: fixed;
  right: 3rem;
  top: 5rem;
  color: red;
  font-size: 2rem; 
  font-family: 'Sansita Swashed', cursive;

}

.myResume:hover{
  color: red;
}

.otherLogo:hover {
  color: red;
}

/* PROJECT SECTION */

 #project-section{
  margin: 5rem auto 15rem auto;
 }


.projects{
  margin: 4rem auto;
}

.project-heading{
  text-align: center;

}

.smallWorkHeading{
  color: red;
  margin: 0;
  font-size: 1.2rem;

}

.BH:hover {
  color: white;
}

.SH:hover {
  color: red;
}

/* Testimonial and carousel Section */

.testimonialHeading{
  font-size: 6rem;
  font-family: 'Sansita Swashed', cursive;
  margin:  10rem auto ;
}

.lead{
  color: grey;
}

/* .carousel-img{
  width: 30%;
  height: 20%;
} */


/* CONTACT SECTION */

#contact-section {
  padding:  15rem auto 1rem auto;
}


.contactIcons{
  padding: 2rem 1rem 1rem 0;
  color: red;
}

.contactName,.contactName:hover{
  color: red;
  font-family: 'Sansita Swashed', cursive;
}

.letsCreate{
  margin: 8rem auto;
}
