a{
  text-decoration: none;
}

body{
  background-color: black;
  margin: 7% 12%;
  color: white;

}

h2{
  font-weight: 10rem;
  font-size: 6rem;
  font-family: 'Sansita Swashed', cursive;
  color: white;
}

hr{
  width:30%;
  margin: 0 auto;

}

/* for tablet size and above */
@media (max-width: 1100px) {
  .contactName{
    font-size: 1.5rem;
    font-family: Montserrat;
  }

  h2 {
    font-size: 7.5rem; 
  }


  a .bigHeading {
    font-size: 6rem;
  }
  
  h3 .smallHeading {
    font-size: 4.2rem;
  
  }
  /* .caption{
    font-size: 8.5rem;
  } */
   

}

/* for phone size and above */
@media (max-width: 900px) {
  .contactName{
    font-size: 3rem;
    font-family: Montserrat;
  }

  h2 {
    font-size: 9rem;
  }

  a.bigHeading{
    font-size: 7.2rem;
    
  }

  /* a .contactIcons{

  } */

  a.smallWorkHeading{
    font-size: 1.6rem;
  }

  h2.smallHeading, h3.smallHeading, h4.smallHeading {
    font-size: 5.5rem;
    
  }

  a.otherLogo{
    position: fixed;
    right: 4rem;
    top: 6rem;
    color: red;
    font-size: 4rem; 
    font-family: 'Sansita Swashed', cursive;
    /* font-weight: 2rem; */
  
  }

  p.caption{
    font-size: 10rem;
  }

  p.bodyText1{
    font-size: 2rem;

  }

  p.textBody2{
    font-size: 1.7rem ;
  }

  /* .caption{
    font-size: 10.5rem;
  } */
   
}


/* 1200 880 */

/* MULTI-ADOPTED SECTION */

.bigHeading{
  color: white;
  font-size: 5.5rem;
  margin: 0;
  font-family: 'Sansita Swashed', cursive;
}

.smallHeading{
  font-family: 'Sansita Swashed', cursive;
  font-size: 3rem;
  margin: 7rem auto 3rem auto;

}

.textBody2{
  line-height: 1.3;
  font-size: 1.2rem;
  color: grey;

}

/* LANDING PAGE SECTION */

.backEnd2{
  color: red;
}

.bImages{
  width:130%;
  padding: 1rem 0 2rem 0;
}

.caption{
  color: red;
  font-size: 7rem;
  font-family: 'Sansita Swashed', cursive;
  font-weight: bold;
  line-height: 1.1;

}


.hello{
  color: white;
  font-size: 7rem;

}

/* .caption:hover{
  animation-duration: 2s;
  animation-name: slidein;
   
}

@keyframes slidein {
  from {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 15%;
    width: 100%;
  }
} */

/* ABOUT SECTION */

#about-section{
  padding: 11rem 0 3rem  0 ;
}

.bodyText1{
  line-height: 1.6;
  font-size: 1.4rem;
  padding-bottom: 1.1rem;
}

.about-heading{
  font-size: 3rem;
  padding: 7rem 2rem 1.7rem 0;
  font-family: 'Sansita Swashed', cursive;
}

.myResume{
  color: red;
  font-size: 1.4rem;
  font-family: Montserrat;
}

.otherLogo{
  position: fixed;
  right: 3rem;
  top: 5rem;
  color: red;
  font-size: 2rem; 
  font-family: 'Sansita Swashed', cursive;
  /* font-weight: 2rem;  */

}

.myResume:hover{
  color: red;
}

.otherLogo:hover {
  color: red;
}

/* PROJECT SECTION */

 #project-section{
  margin: 5rem auto 15rem auto;
 }

/* .bigWorkHeading{
  color: white;
  font-size: 5.5rem;
  margin: 0;
  font-family: 'Sansita Swashed', cursive;
} */

.projects{
  margin: 4rem auto;
}

.project-heading{
  text-align: center;
  /* padding:  5rem auto 3rem auto; */

}

.smallWorkHeading{
  color: red;
  margin: 0;
  font-size: 1.2rem;

}

.BH:hover {
  color: white;
}

.SH:hover {
  color: red;
}
/* CONTACT SECTION */

#contact-section {
  padding:  15rem auto 3rem auto;
}

/* .contactBigHeading{
  font-family: 'Sansita Swashed', cursive;
  font-size: 6rem;
  margin: 10rem auto 6rem auto;
} */

/* .contactSmallheading{
  font-family: 'Sansita Swashed', cursive;
  font-size: 3rem;
  padding-bottom: 2rem;
} */

.contactIcons{
  padding: 2rem 1rem 1rem 0;
  color: red;
}

.contactName,.contactName:hover{
  color: red;
  font-family: Montserrat;
}
